<div class="flex justify-center mt-20 space-x-24 border">
  <img src={{model.http_url}} alt="" class="animal-photo--large" />
  <div class="flex flex-col border">
    <div class="flex flex-col border">
      <span class="text--score-percentage text-center text-2xl">{{model.overallScore}}%</span>
      <span class="text--overall-score text-center">Overall Score</span>
    </div>
    <div class="flex flex-col mt-4 border">
      {{#each-in this.model.analysis as |characteristic score|}}
        <PhotoCharacteristic @characteristic={{characteristic}} @score={{score}} />
      {{/each-in}}
      <LinkTo @route="documentation" class="link link-text mt-4 font-roboto">Learn more about the characteristics of a good photo.</LinkTo>
    </div>
    <div class="pt-4 border">
      <FeedbackForm
        @imageId={{this.model.id}}
      />
    </div>
  </div>
</div>
